* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*flex principal*/

.flex {
  display: flex;
  width: 100%;
  height: 1200px;
}

/*flex secundarios*/

div.uno {
  display: flex;
  width: 30%;
  background: #cccc;
}
div.dos {
  display: flex;
  flex-direction: column;
  width: 70%;
  background: #cccc;
}

/*foto de perfil*/

.white {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 550px;
  background: #fff;
  margin: 40px;
  box-shadow: 0 0 5px #e9e9e9, 0 0 5px #e9e9e9;
}

img.vash {
  width: 320px;
  height: 380px;
}

.nombre {
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #424242;
}

h3 {
  text-align: center;
  margin-top: 20px;
  font-family: cursive;
  font-size: 18px;
  font-weight: initial;
  text-transform: capitalize;
  color: #aabdbf;
}

.headeruno {
  display: none;
}

/*header*/

.header {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 90px;
    box-shadow: 0 0 5px #e9e9e9, 0 0 5px #e9e9e9;
    margin: 40px;
}

label img {
  display: none;
}

#btn-menu {
  display: none;
}

div.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 90px;
    transition: 0.3s;
    transition-delay: 0.3s;
  }
  
  div.contenedor:hover {
    height: 120px;
  }
  
  div#uno {
      background: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#233654+1,00a6d6+100 */
      background: rgb(35,54,84); /* Old browsers */
      background: -moz-linear-gradient(left,  rgba(35,54,84,1) 1%, rgba(0,166,214,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(35,54,84,1) 1%,rgba(0,166,214,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(35,54,84,1) 1%,rgba(0,166,214,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233654', endColorstr='#00a6d6',GradientType=1 ); /* IE6-9 */
  }
  
  div#dos {
      background: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00a6d6+0,cf3476+100 */
      background: rgb(0,166,214); /* Old browsers */
      background: -moz-linear-gradient(left,  rgba(0,166,214,1) 0%, rgba(207,52,118,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(0,166,214,1) 0%,rgba(207,52,118,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(0,166,214,1) 0%,rgba(207,52,118,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6d6', endColorstr='#cf3476',GradientType=1 ); /* IE6-9 */
  }
  div#tres {
      background: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cf3476+0,f8f300+100 */
      background: rgb(207,52,118); /* Old browsers */
      background: -moz-linear-gradient(left,  rgba(207,52,118,1) 0%, rgba(248,243,0,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(207,52,118,1) 0%,rgba(248,243,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(207,52,118,1) 0%,rgba(248,243,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf3476', endColorstr='#f8f300',GradientType=1 ); /* IE6-9 */
      ;
  }
  
  div#cuatro {
      background:/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f8f300+0,323654+100 */
      background: rgb(248,243,0); /* Old browsers */
      background: -moz-linear-gradient(left,  rgba(248,243,0,1) 0%, rgba(50,54,84,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(248,243,0,1) 0%,rgba(50,54,84,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(248,243,0,1) 0%,rgba(50,54,84,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f300', endColorstr='#323654',GradientType=1 ); /* IE6-9 */
      ;
  }
  
  img.icon {
    width: 60px;
    margin-top: 15px;
    padding: 15px;
    cursor: pointer;
    background: transparent;
    border-radius: 20%;
    box-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff;
    transition: 0.3s;
    transition-delay: 0.3s;
  }
  
  #cuatro img.icon {
      width: 55px;
  }
  
  img.icon:hover  {
      margin-top: 16px;
      padding: 14px;
    box-shadow: 0 0 5px #000, 0 0 5px #000;
  }

  p.texto {
    position: relative;
    top: 20px;
    font-size: 12px;
    opacity: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.15s;
    transition-delay: 0.5s;
  }
  
  div.contenedor:hover p.texto{
    opacity: 1;
  }

/*seccion*/

.cuadrado {
    width: 800px;
    height: 1000px;
    margin: 40px;
    background: #fff;
    box-shadow: 0 0 5px #e9e9e9, 0 0 5px #e9e9e9;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
    margin-top: 35px;
    color: #424242;
    text-transform: capitalize;
  }
  
  h2::after,h2::before {
    content:'';
    position: absolute;
    width: 120px;
    height: 2px;
    top: 275px;
    background-color: #424242;
    justify-content: center;
  }
  
  h2::before {
    left: 615px;
  }
  
  h2::after {
    right: 275px;
  }
  
  hr {
    border: 1px dashed #cccc;
    position: relative;
    top: 20px;
  }

p.parrafo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    text-align: left;
    padding: 20px;
    margin-top: 40px;
    line-height: 40px;
    color: #424242;
  }
  
  img.logos {
      width: 100%;     
    background:rgba(51,243,255,0.1);  
}

/*footer*/


.footer {
    display: flex;
    justify-content: space-evenly;
    font-size: 17px;
    text-transform: capitalize;
    background:rgba(51,243,255,0.1);
      
}

/*responsive*/

@media (max-width: 700px) {
  .flex {
    flex-direction: column;
  }
  
  /*flex secuandarios*/

  div.uno {
    width: 100%;
    flex-direction: row;
  }

  div.dos {
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
  } 

  /*foto de perfil*/

  .white {
    width: 270px;
    height: 450px;
    margin-top: 40px;
  }

  img.vash {
    width: 100%;
    height: 350px;
  }

  .nombre {
    margin-top: 8px;
    font-size: 18px;
  }

  h3 {
    margin-top: 5px;
    font-size: 16px;
  }

  /*header*/

  .headeruno {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 490px;
  }
  
  label img {
    display: flex;
    width: 40px;
  }

  #btn-menu:checked ~ .contenedoruno  {
    margin: 0;
  }


  div.contenedoruno {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-left: -150px;
    transition: 0.3S;
    

  }

  div#uno {
    background: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00c0e2+1,f7f7f7+48,00c0e2+100 */
    background: rgb(0,192,226); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(0,192,226,1) 1%, rgba(247,247,247,1) 48%, rgba(0,192,226,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(0,192,226,1) 1%,rgba(247,247,247,1) 48%,rgba(0,192,226,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(0,192,226,1) 1%,rgba(247,247,247,1) 48%,rgba(0,192,226,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c0e2', endColorstr='#00c0e2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    ;
  }

  div#dos {
    background: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dd009b+1,f7f7f7+48,dd009b+100 */
    background: rgb(221,0,155); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(221,0,155,1) 1%, rgba(247,247,247,1) 48%, rgba(221,0,155,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(221,0,155,1) 1%,rgba(247,247,247,1) 48%,rgba(221,0,155,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(221,0,155,1) 1%,rgba(247,247,247,1) 48%,rgba(221,0,155,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd009b', endColorstr='#dd009b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    ;
  }
  div#tres {
    background: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcfc00+1,f7f7f7+48,fcfc00+100 */
    background: rgb(252,252,0); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(252,252,0,1) 1%, rgba(247,247,247,1) 48%, rgba(252,252,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(252,252,0,1) 1%,rgba(247,247,247,1) 48%,rgba(252,252,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(252,252,0,1) 1%,rgba(247,247,247,1) 48%,rgba(252,252,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfc00', endColorstr='#fcfc00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    ;
  }
  div#cuatro {
    background: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#260000+1,f7f7f7+48,260000+100 */
    background: rgb(38,0,0); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(38,0,0,1) 1%, rgba(247,247,247,1) 48%, rgba(38,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(38,0,0,1) 1%,rgba(247,247,247,1) 48%,rgba(38,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(38,0,0,1) 1%,rgba(247,247,247,1) 48%,rgba(38,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#260000', endColorstr='#260000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    ;
  }


  img.iconuno {
    width: 60px;
    margin-top: 20px;
    padding: 15px;
    cursor: pointer;
    background: transparent;
    border-radius: 20%;
    box-shadow: 0 0 5px #000, 0 0 5px #000;
    transition: 0.3s;
    transition-delay: 0.3s;
  }

  img.iconuno:hover {
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px #424242, 0 0 2px #424242;
  }

  p.textouno {
    font-size: 10px;
    margin-top: 10px;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.3s;
  }
  #cuatro p.textouno {
    margin-top: 5px;
  }

  div.contenedoruno:hover p.textouno {
    opacity: 1;
  }

  /*seccion*/

  .header {
    display: none;
  }

  .cuadrado {
    width: 1200px;
    background: #ffff;
    height: 500px;
  }
  p.parrafo {
    margin-top: 10px;
    font-size: 10px;
    line-height: 20px;
  }

  h2 {
    margin-top: 5px;
    font-size: 15px;
  }
  h2::after,h2::before {
    width: 80px;
    height: 1px;
    top: 75px;
  }

  h2::before {
    left: 320px;
  }
  
  h2::after {
    right: 320px;
    margin-top: ;
  }
  hr{
    top: 5px;
  }
}
